<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cancelPlan.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Current Plan Page</title>
</head>
<body class="current-plan">
    <div class="card">
        <div class="header">
            <div class="header-left">
                <h1>Current Plan Details</h1>
                <span class="active-tag">Cancelled</span>
            </div>
            <a href="#" class="cancel-link">Cancel</a>
        </div>
        <div class="plan-details">
            <h2 class="plan-name" style="text-transform: capitalize;">Basic</h2>
            <p id="devicesList"></p>
            <h3 class="plan-price">&#8377; <span id="amount"></span><span id="duration"></span></h3>
            <button class="change-plan-button" onclick="window.location.href = '/pricing'">Choose Plan</button>
            <p class="subscription-info">Your subscription has been cancelled and you will loose access to services on <span id="cancelDate"></span>.</p>
        </div>
    </div>
    <script src="\static\js\cancelPlan.js"></script>
</body>
</html>
