<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Login Page</title>
</head>

<body class="login">
    <div class="login-container">
        <form id="login-form">
            <h1>Login to your account</h1>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="kadhnoqwd@gmail.com" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="khjbdfefded" required>
            </div>
            <div class="input-container checkbox-container">
                <label>
                    <input type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="signup-text">New to MyApp? <a href="/signup">Sign Up</a></p>
    </div>

    <script src="\static\js\login.js"></script>
</body>

</html>